<!doctype html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Domain Search</title>	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
	<script src="js/app.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/spinner.css">
	<style>
		.active a {
			color: green;
		}
	</style>
</head>
<body ng-controller="DomainSearchCtrl">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Check domain availability</h1>
				<form class="form-inline">
					<div class="form-group">
						<input class="form-control" type="text" ng-model="domain">
						<input class="btn btn-primary" type="submit" value="Search" ng-click="search(domain)">
					</div>
				</form>
			</div>
		</div>
		<div style="margin-top: 30px;" class="row">
			<div class="col-sm-12">
				<div class="hidden spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
				<h2 ng-show="domains">Domain results for '{{searchquery}}'</h2>
				<table class="results table table-striped">					
					<tbody>
						<tr ng-show="domains">
							<th ng-class="{'active':predicate === 'domain'}"><a href="" ng-click="predicate = 'domain'">Domain</a></th>
							<th ng-class="{'active':predicate === 'availability'}"><a href="" ng-click="predicate = 'availability'">Availability</a></th>
							<th>Register</th>
						</tr>
						<tr ng-repeat="item in domains | orderBy:predicate">
							<td>{{item.domain}}</td>
							<td ng-switch on="item.availability">
								<div ng-switch-when="available">Available</div>
								<div ng-switch-when="taken">Taken</div>
								<div ng-switch-when="unavailable">unavailable</div>
								<div ng-switch-when="maybe">Maybe</div>
							</td>
							<td ng-show="item.availability == 'available'"><a href="{{item.register_url}}">Register domain</td>
							<td ng-show="item.availability != 'available'">You cannot register this domain</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
	
</body>
</html>